[Unit]
Description=Cringed serial port service

[Service]
Type=simple
Environment="RUST_LOG=debug"
ExecStart=/opt/cringed/cringedge-handler
Restart=on-failure
TimeoutSec=5

[Install]
WantedBy=default.target