[Unit]
Description=Cringed serial port service

[Service]
Type=simple
Environment="RUST_LOG=info"
ExecStart=/opt/cringed/cringed-daemon
Restart=on-failure
TimeoutSec=5

[Install]
WantedBy=default.target